diagnostics:
  enabled:
    - compiler
  disabled:
    - elvis
    - crossref
    - dialyzer
    - unused_macros
    - unused_includes
    - bound_var_in_pattern

apps_dirs:
  - "_build/*/lib/*"
deps_dirs:
  - "_build/*/lib/*"
include_dirs:
  - "_build/*/lib/*/include"
  - "_build/*/lib"
  - "include"
