{erl_opts, [
  % {d, macro_pipe_debug},
  debug_info
]}.
{deps, [
  {astranaut, "0.10.1"},
  {macro_pipe, {git, "https://github.com/petrkozorezov/macro_pipe.git", {branch, "master"}}}
]}.
{erl_first_files, ["src/tt.erl"]}.

{profiles, [
  {test, [
    {deps, [
      {proper, {git, "https://github.com/proper-testing/proper.git", {branch, "master"}}}
    ]}
  ]}
]}.
